<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://assets.ajio.com/static/img/favicon.ico" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./Main.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/d829865ea3.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./productcss/product.css">

    <title>Jackets & Coats</title>
</head>
<body>

    <div id="Nav_bar_main">
    </div>

    <div id="main">

    <div class="scprodhead">
    <div>
        <img src="../prodimg/bbs-image.svg" alt="Sale is Live">
    </div>
<div class="scprodsale" >Big Bold Sale is live</div>
<span class="scprodspan1"></span>
<div class="scprodheaddesc">Buy your favorite products at jaw-dropping discounts</div>
</div>

<!-- subheader over -->
<div class="scbreadcumb">
    <a href="#">  Home  </a>
    <span>/</span>
     <a href="#">Men</a>
     <span>/</span>
    <a href="#">Western Wear </a>
     <span>/</span>
     <a href="#">Jackets & Coats </a>
    </div>
<!-- maindiv start -->
<div class="scmaindiv">



 <!-- subdiv 1 categories-->

<div class="scsubdiv1">

   

  
<div class="screfine" id="screfineid">
    <p>Refine By<p>
    <img
    class="screfineimg"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLlFJyXnlww4XPP-vQQ3PNh7_y8LMYuUMXhx7LxZobswW6Cm2GlzebSYWWpMqebE3OPBA&usqp=CAU"
      alt=""
    />

</div>
<!-- list refine start -->
<div class="screfinelistmain" id="screfinelistmain1">

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Gender</div>
</div>
<div id="scgendercat">

<input type="checkbox" name="Men" checked  id="">
<label for="">Men(40)</label>
</div>
<!-- gender finish -->
<div class="screfineline"></div>


<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Category</div>
</div>
<div id="sccatcat">

    <input type="checkbox" name="Jackets&Coats" checked  id="">
    <label for="">Jackets&Coats(20)</label>
    </div>
    <!-- category finish -->
<div class="screfineline"></div>



<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Price</div>
</div>
<div id="scpricecat">


    <div>
    <input type="checkbox" name="Price501" onclick="under1000(data)" id="under1000">
    <label for="">Rs.0-1000</label>
    </div>

    <div>
    <input type="checkbox" name="Price1001" onclick="under1000to1500(data)" id="">
    <label for="">Rs.1001-1500</label>
    </div>

    <div>
    <input type="checkbox" name="Price1501"  onclick="under1500to2000(data)" id="">
    <label for="">Rs.1501-2000</label>
    </div>

    <div>
    <input type="checkbox" name="Price2001"  onclick="under2000above(data)" id="">
    <label for="">Rs.2000&above</label>
    </div>

    </div>
    <!-- price finish -->
<div class="screfineline"></div>



<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Brands</div>
</div>
<div id="scbrandcat">

    <div>
    <input type="checkbox" name="JOHN PLAYERS"  onclick="john(data)" id="">
    <label for="">JOHN PLAYERS</label>
    </div>

    <div>
    <input type="checkbox" name="Campus Sutra"   onclick="campus(data)" id="">
    <label for="">Campus Sutra</label>
    </div>

    <div>
    <input type="checkbox" name="U.S. Polo Assn."  onclick="us(data)"  id="">
    <label for="">U.S.Polo Assn.</label>
    </div>

    <div>
    <input type="checkbox" name="T-Base"  onclick="tbase(data)"   id="">
    <label for="">T-Base</label>
    </div>

    <div>
    <input type="checkbox" name="Columbia"   onclick="columbia(data)"   id="">
    <label for="">Columbia</label>
    </div>

    <div>
    <input type="checkbox" name="NIKE"   onclick="nike(data)"    id="">
    <label for="">NIKE</label>
    </div>

</div>
<!-- brand cat over -->
<div class="screfineline"></div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Discount</div>
</div>

<div id="scdiscountcat">

    <div>
    <input type="checkbox" name="0to20" onclick="under0to20(data)" id="" >
    <label for="">0-20%</label>
    </div>  
    
    <div>
    <input type="checkbox" name="21to30"  onclick="under20to30(data)" id="">
    <label for="">21-30%</label>
    </div>  

    <div>
    <input type="checkbox" name="31to40"   onclick="under30to40(data)" id="">
    <label for="">31-40%</label>
    </div>     

    <div>
    <input type="checkbox" name="41to50"   onclick="under40to50(data)" id="">
    <label for="">41-50%</label>
    </div>  

    <div>
    <input type="checkbox" name="51to80"   onclick="under50to80(data)" id="">
    <label for="">51-80%</label>
    </div>  

</div>
<!-- discount cat over -->
<div class="screfineline"></div>


<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Occasion</div>
</div>
<div id="scoccasioncat">

    <div>
    <input type="checkbox" name="Active" id="">
    <label for="">Active</label>
    </div>

    <div>
    <input type="checkbox" name="Casual" id="">
    <label for="">Casual</label>
    </div>

    <div>
    <input type="checkbox" name="Special Occasion" id="">
    <label for="">Special Occasion</label>
    </div>

    <div>
    <input type="checkbox" name="Universal" id="">
    <label for="">Universal</label>
    </div>   

</div>
<!-- occasion cat over -->

<div class="screfineline"></div>


<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Colors</div>
</div>

<div id="sccolors">

    <div class="fifty" id="fiftybeige"  ></div>
    <div class="fiftycolor">Beige</div>
    
    <div class="fifty" id="fiftyblack"></div>
    <div class="fiftycolor">Black</div>
    
    <div class="fifty" id="fiftyblue" ></div>
    <div class="fiftycolor" >Blue</div>
    
    <div class="fifty" id="fiftybronze"></div>
    <div class="fiftycolor" >Bronze</div>
    
    <div class="fifty"  id="fiftybrown"></div>
    <div class="fiftycolor">Brown</div>
    
    </div>
    <!-- colors cat over -->
<div class="screfineline"></div>


<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Size & Fit</div>
</div>

<div id="scsizefitcat">

    <div>    
    <input type="checkbox" name="XXS" id="">
    <label for="">XXS</label>
    </div>

    <div>
    <input type="checkbox" name="XS" id="">
    <label for="">XS</label>
    </div>
    
    <div>
    <input type="checkbox" name="S" id="">
    <label for="">S</label>
    </div>
    
    <div>
    <input type="checkbox" name="M" id="">
    <label for="">M</label>
    </div>
    
    <div>
    <input type="checkbox" name="L" id="">
    <label for="">L</label>
    </div>
    

</div>
<!-- size cat over -->

<div class="screfineline"></div>



<div class="screfine" id="screfinemorefilters1">

    <p>More Filters<p>
        
    <img
    class="screfineimg"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLlFJyXnlww4XPP-vQQ3PNh7_y8LMYuUMXhx7LxZobswW6Cm2GlzebSYWWpMqebE3OPBA&usqp=CAU"
      alt=""
    />
</div>
<!-- more filters -->
<div id="scmorefilters1">

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Sleeve</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Pattern</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Feature</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Sport</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Character</div>
</div>


<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Collar</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Shape</div>
</div>

<div class="sclistflex">
    <div class="scplus">+</div>
    <div class="sclistrefinename">Fabric</div>
</div>

</div>

</div>


</div>

<!-- subdiv 2 categories-->
<div class="scsubdiv2">


    <!-- selected category details -->
    <div class="scselectdetails">

        <div class="scdetailshead">MEN'S</div>
        <div class="scdetailssubhead">Jackets & Coats</div>
        <div class="scdetailstotal"><p> Versatile and sophisticated, AJIO brings to you a wide range of coats and jackets for men. Be it printed, embroidered, ripped or distressed – we have everything. Browse through cool gilets, quilted bombers and winter jackets to keep your fashion game on fleek this cold season. Let the bad boy out to play with leather jackets or sharpen up your look with traditional men’s coats.</p></div>
    </div>


    <!-- sorting  and product count div-->
    <div class="screfineline"></div>
    <div class="scsort">
     
     <div class="scsortcount" id="count1"></div>

     <div class="scsortgrid">
         <div class="scsortgridgrid">GRID</div>
        <div class="scsortgridbackground3" id="grid31" onclick="grid3()">
            <div></div>
            <div></div>
            <div></div>
        </div>


        <div class="scsortgridbackground5" id="grid51" onclick="grid5()">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
     </div>
     <div class="scsortsort">
         <div class="scsortgridgrid">SORT BY</div>

         <select name="" id="scselect" >
             <option value="What's New" id="new">What's New</option>
             <option value="Relevance" id="relevance">Relevance</option>
             <option value="Discount" id="discount">Discount</option>
             <option value="Price(highest first)" id="high">Price(highest first)</option>
             <option value="Price(lowest first)" id="low">Price(lowest first)</option>
         </select>
     </div>

    </div>
    <div id="screflineline1"></div>
    <!-- js part grid addition -->

    <div id="scjsgrid"></div>

</div>



</div>
</div>

<div id="icon_div">
    <div class="icons">
      <i class="fas fa-shopping-bag"></i>
      <p>EASY EXCHANGE</p>
    </div>
    <div class="icons">
      <i class="fas fa-hand-holding-heart"></i>
      <p>100% HANDPICKED</p>
    </div>
    <div class="icons">
      <i class="far fa-check-circle"></i>
      <p>ASSURED QUALITY</p>
    </div>
  </div>

<footer></footer>

</body>
</html>
<script type = "module" src = "./navbar.js"></script>
<script src="jacketcoat.js">
</script>