<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://assets.ajio.com/static/img/favicon.ico" type="image/icon type">
    <link rel="stylesheet" href="../Main.css">
    <script
      src="https://kit.fontawesome.com/d829865ea3.js"
      crossorigin="anonymous"
    ></script>
    
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="./cart.css">
    <title>
      Ajio.com | Shop Online the Latest Fashion in apparels brands in India |
      Reliance Ajio.com
    </title>
  </head>

<body>

    <div id="Nav_bar_main">
    </div>
    
    <div id="odiv">
        <img id="img1" src="mybagbanner.jpg">
    </div>
    
    <div id="bag">
        <div id="Mybag">My Bag</div>
        <div id="Closet">+ Add From Closet</div>
    </div>
    <script src="cart.js">

    </script>

<footer></footer>
</body>



</html>

<script type="module" src = "../navbar.js">
  
</script>