*{
    margin: 0;
    padding: 0;
}


.Show_the_space{
    margin: 2% 0;
    width: 100%;
    height: 4px;
    background-color: rgba(51, 51, 51, 0.452);
}



/* Nav Bar Section Css */
#Nav_bar_main{
font-family: "Helvetica Neue",Helvetica,Arial;
    position: absolute;
    top: 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    padding-bottom: 10px;
}

.nav_bar_all{
    width: 82%;
    margin: auto;
}

.firstSectionOfNavBar{
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 25px;

}

.firstSectionOfNavBar > a{
    text-decoration: none;
    color: #2c4152;
    font-size: 12px;
    font-weight: 100;
}

.firstSectionOfNavBar > .visitedib{
    color: #FAFAFA;
    font-size: 12px;
    padding: 10px;
    background-color: black;
}


.secondsectionnavbar {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.logo_img_div{
    width: 65%;
}

.logo_img_div > img{
    width: 100%;
}



.right_side_div {
    display: flex;
    gap: 40px;
    align-items: end;
    justify-content: end;
}


.text_div_secon_nav > p{
    color: #2c4152;
    font-size: 15px;
}

.input_serach_div_secon_nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.input_div_nav_bar {
    width: 60%;
    background-color: #fffded;
    padding: 7px 10px;
    border-radius: 20px 20px  ; 
    border: 1px solid black;
}

.input_div_nav_bar > input{
    width: 90%;
    border: none;
    background-color: transparent;
    font-size: 13px;
}

.input_div_nav_bar > input:focus, .input_div_nav_bar > textarea:focus, .input_div_nav_bar > select:focus{
    outline: none;
    font-size: 14px;
}

.icon_hanger{
    width: 2%;
}

.icon_hanger > img{
    width: 100%;
}



.icon-bag-hang {
    background-color:#2c4152;
    padding: 10px;
    border-radius:50%;
    width:4%;
    text-align: center;
    margin-left: 10px;
    height: 60%;
}

.icon-bag-hang  > img{
    width: 100%;
    color: #FAFAFA;
}

.icon-bag-hang > i{
    color: white;
}




.drow_down_nav {
    font-family: sans-serif;
    width: 82%;
    z-index: 1;
    padding: 20px;
    background-color: white;
    position: absolute;
    left: 9%;
}


.first_drop_section {
    margin-top: 10px;
    display: flex;
}

.sort {
    margin-left: 5px;
    padding: 12px;
    background-color: #cfcfcf;
}

.sort > p{
    font-size: 14px;
    font-weight: 100;
    color: #444444;
}


.first_div_car > ul{
    list-style: none;
    margin-top: 15px;
    font-size: 13px;
    color: black;
    font-weight: 600;
}

.first_div_car >  ul > li{
    font-size: 13px;
    margin-top: 5px;
    font-weight:400 ;
    color: #414141;
}




















/* Nav Bar Section Css end*/

#first_section{
    margin-top: 6%;
}


.sameimgsamdiv > img{
    width: 100%;
    height: 100%;
    transition: 0.6s all ease-in-out;
} 

.sameimgsamdiv:hover > img {
    transform: scale(1.01);
    width: 100%;
    height: 100%;
}

.sameimgsamdiv{
    margin-top: 2px;
}





/* First section css */

.frist_section_img{

    width: 100%;
    height: 100%;
    overflow: hidden;
}



#Four_section{
    width: 100%;
    display: flex;
    gap: 1px;

}

#Four_section > div{
    width: 50%;
    overflow: hidden;
}


.silder_no_hover{
    width: 100%;
}

.silder_no_hover > img{
    width: 100%;
}

.slider_down_img{
    margin-top: 5px;
}




/*  11 section  css */


/*  11 section css end*/

/* 
.Fous_img_inDiv{} */

.Fous_img_inDiv{
    display: flex;
    gap: 5px;
    padding-bottom: 2px;
}


.Fous_img_inDiv > div{
    width: 25%;
}





/*  15 section  css */

#section15{
    display: flex;
    gap: 5px;
}

#section15 > div{
    width: 50%;
}

/*  15 section css end*/


.arrowsSilder {
    margin-top: 5px;
}


.section_21{
    display: flex;
}

.section_21 > div{
    width: 40%;
} 






 

#icon_div {
    font-family: sans-serif;
    padding: 30px 0;
    background-color: #FAFAFA;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}




#icon_div > .icons > i{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#icon_div > .icons > p{
    font-size: 20px;
    font-weight: 700;
}