*{
    margin: 0;
    padding: 0;
}


.Show_the_space{
    margin-top: 3%;
    width: 100%;
    height: 4px;
    background-color: rgba(51, 51, 51, 0.452);
}



/* Nav Bar Section Css */

#Nav_bar_main{
    width: 99.8%;
    height: 100px;
    border: 1px solid black;
}


/* Nav Bar Section Css end*/



.sameimgsamdiv > img{
    width: 100%;
    height: 100%;
    transition: 0.6s all ease-in-out;
} 

.sameimgsamdiv:hover > img {
    transform: scale(1.01);
    width: 100%;
    height: 100%;
}

.sameimgsamdiv{
    margin-top: 2px;
}





/* First section css */

.frist_section_img{

    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* First section css end*/



/* Second section css */


/* Second section css end*/


/* four section css */


#Four_section{
    width: 100%;
    display: flex;
    gap: 1px;

}

#Four_section > div{
    width: 50%;
    overflow: hidden;
}

/* four section css end*/



/* Fith section css */

/* Fith section css end*/


.silder_no_hover{
    width: 100%;
}

.silder_no_hover > img{
    width: 100%;
}

.slider_down_img{
    margin-top: 5px;
}




/*  11 section  css */


/*  11 section css end*/




.Fous_img_inDiv{
    display: flex;
    gap: 5px;
    padding-bottom: 2px;
}


.Fous_img_inDiv > div{
    width: 25%;
}





/*  15 section  css */

#section15{
    display: flex;
    gap: 5px;
}

#section15 > div{
    width: 50%;
}

/*  15 section css end*/
