<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://assets.ajio.com/static/img/favicon.ico" type="image/icon type">
    <script src="https://kit.fontawesome.com/d829865ea3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Main.css">
    <link rel="stylesheet" href="./style.css">
    <title>Closet | AJIO</title>
    
</head>
<body>

    <div id="Nav_bar_main">
       
    </div>
    <img src="" alt="">
    <div class="about_brand sildermenu">
        <div class="About_Brand_heading"><h3>My Closet</h3></div>
        <div class="slider_main">
        </div>


    <div id="icon_div">
        <div class="icons">
          <i class="fas fa-shopping-bag"></i>
          <p>EASY EXCHANGE</p>
        </div>
        <div class="icons">
          <i class="fas fa-hand-holding-heart"></i>
          <p>100% HANDPICKED</p>
        </div>
        <div class="icons">
          <i class="far fa-check-circle"></i>
          <p>ASSURED QUALITY</p>
        </div>
      </div>

    <footer>

    </footer>
    
</body>

<script type="module" src="../navbar.js"></script>
<script src="./closet.js"></script>
</html>