<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://assets.ajio.com/static/img/favicon.ico" type="image/icon type">
    <script src="https://kit.fontawesome.com/d829865ea3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Main.css">
    <link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
  />
  <link rel="stylesheet" href="./styles/slick-theme.css" />
    <link rel="stylesheet" href="./styles/style.css">
    <title>Product</title>
    
</head>
<body>

    <div id="Nav_bar_main">
       
    </div>
    
    <div id="Main_div_all_Section">
        <div id="first_section_product_and_delites">
           
        </div>

         
    <div class="about_brand about_brand2" >
           <div class="About_Brand_heading"><h3>About Brand</h3></div>
        <p> Splatter your casual wardrobe with a splash of style with clothing from DNMX. This trendy brand offers absolute fashion along with unbeatable comfort for the style happy.
         DNMX Clothing for Men
         Start your search with DNMX T-shirts. The collection carries everything from tropical printed slim fit tees to hooded burnout T-shirts. Next up, are DNMX shirts for men. For a trendy look, get a look at their checked hooded shirts with kangaroo pockets and tropical printed shirts. +
         </p>
    </div>

    <div class="about_brand">
        <div class="About_Brand_heading"><h3>Shop More</h3></div>
        <div class="showthsugestionclottext">
            <div class="all_clothees">
                <a href=""> <p>All Clothees</p> </a>
                <a href=""><p>Men</p></a>
                <a href=""><p>WOMEN</p></a>
            </div>
        </div>
        
    </div>

    <div class="about_brand sildermenu">
        <div class="About_Brand_heading"><h3>Similar Styles</h3></div>
        <div class="slider_main">
            <div class="all_sider_div responsive">
                <div class="Slider_div">
                    <a href="">
                        <div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/h17/h45/14876616359966/dnmx-black-mid-rise-fitted-jeans.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>DNMX</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Mid-Rise Fitted Jeans</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 679</span> <span>Rs. 799 <span id="line">(15% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹639</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20210316/i3QK/604fb7eef997dd5c4011726e/dnmx-black-slim-slim-fit-jeans.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>DNMX</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Slim Fit Jeans</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 896</span> <span>Rs. 1,299 <span id="line">(31% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹585
                                </p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20211115/LaLd/61927860aeb2690110c48187/u.s.-polo-assn.-black-relaxed-lightly-washed-jeans-with-5-pockets.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>U.S. POLO ASSN.</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Lightly Washed Jeans with 5 Pockets</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 1,494</span> <span>Rs. 2,299<span id="line"> (35% off) </span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹1150</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20201125/Yeuk/5fbd60b2f997dd8c83a6d9a0/netplay-red-classic-slim-fit-shirt-with-patch-pocket.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>NETPLAY</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Slim Fit Shirt with Patch Pocket</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 679</span> <span>Rs. 999<span id="line"> (52% off) </span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹639</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20210830/ptoo/612d0238f997ddce89b1a6ec/-473Wx593H-441114305-jetblack-MODEL.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>TEAMSPIRIT</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Striped Crew-Neck T-shirt</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 275</span> <span>Rs. 399<span id="line"> (31% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹180</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20210210/7eeQ/6022dab2f997dd5c40ec2b01/-473Wx593H-441114857-mustard-MODEL3.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>DNMX</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Typographic Print Crew-Neck T-shirt</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 206</span> <span>Rs. 299 <span id="line">(31% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹150</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20201116/soDp/5fb298c1f997dd8c839c3f2c/-473Wx593H-460757728-khaki-MODEL.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>FORT COLLINS</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Ashland Quilted</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 1,161</span> <span>Rs. 2,699<span id="line"> (57% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price  ₹813</p>
                        </div>
                    </div></a>
                </div>
                <div class="Slider_div">
                    <a href=""><div class="Silder_product_div">
                        <div class="product_sug_div_img">
                            <img src="https://assets.ajio.com/medias/sys_master/root/20210404/iSjR/606aff50aeb269a9e3604406/-473Wx593H-461208493-black-MODEL3.jpg" alt="">
                        </div>
                        <div class="brand_name_sug_s">
                            <p>DOLCE CRUDO</p>
                        </div>
                        <div class="Name_of_prod_sug">
                            <span>Jumpsuit with Insert Pockets</span>
                        </div>
                        <div class="product_price_sug">
                        <span>Rs. 1,075</span> <span>Rs. 2,499<span id="line"> (57% off)</span>
                        </div>
                        <div class="BBS_product_price_sug">
                            <p>BSS Price ₹677</p>
                        </div>
                    </div></a>
                </div>
            </div>
            </div>
        </div>
        
    </div>


    <div id="icon_div">
        <div class="icons">
          <i class="fas fa-shopping-bag"></i>
          <p>EASY EXCHANGE</p>
        </div>
        <div class="icons">
          <i class="fas fa-hand-holding-heart"></i>
          <p>100% HANDPICKED</p>
        </div>
        <div class="icons">
          <i class="far fa-check-circle"></i>
          <p>ASSURED QUALITY</p>
        </div>
      </div>

    <footer>

    </footer>
    
</body>
<script
type="text/javascript"
src="//code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
type="text/javascript"
src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<script
type="text/javascript"
src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>

<script type="module" src="../navbar.js"></script>
<script src="./scripts/main.js"></script>
</html>