<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Main.css">
    <link rel="stylesheet" href="we.css" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://kit.fontawesome.com/d829865ea3.js"
    crossorigin="anonymous"
  ></script>
    <title>About us</title>
</head>
<body> 
    <div id="Nav_bar_main">
    </div>
    <div id = "main">
        <div id = "head">
            <p>Home  / Who We Are | About Us</p>
            
            <h1>Who We Are</h1>
            <div id = "image">
                <img  height =  100%; width = 100%; src="https://assets.ajio.com/medias/sys_master/images/images/h5e/hfc/11339012800542/who-we-are-desktop.jpg" alt="image">
            </div>
            <div id = "box1">
                <div id = "font">
                    <p>With the trendiest, freshest, and most unique styles from across India and the world, AJIO invites you to</p>
                    <p>express your personal style fearlessly, and with a confidence and optimism that cannot be easily shaken.</p>
                </div>
            </div>
        </div>
        <div id ="own">
            <div id = "own1">
                <h2 id ="mainhead">AJIO OWN</h2>
                <div id = "para">
                    <p>AJIO OWN is our private label – that’s designed by us, and owned by you. If you’re</p><span>
                        <p>looking for head-turning styles that are one-of-a-kind, AJIO OWN is what you</p><span>
                            <p>should stock up on.</p>
                        </span>
                    </span>
                </div>
                
               
            </div>
            <div id = "own2">
                <h2 id ="mainhead">Exclusive International Labels</h2>
                <div id = "para">
                    <p>We bring you the trendiest and most exclusive brands from around the world to</p><span>
                        <p>your wardrobe. Forget scouring the net for what’s hot globally, we’ve got you</p><span>
                            <p>covered.</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div id = "box2">
            <div>
                <p>Why let a world that loves to police your wardrobe and your expression get the upper hand, anyway?</p><br>
                <p>So the next time someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for this?’</p>
                <p>‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something else’, go ahead and</p>
                <p>do exactly what you please. When it comes to great style and personal expression, there should never be</p>
                <p>any regrets.</p>
            </div>
        </div>
        <div id ="own">
            <div id = "own1">
                <h2 id = "mainhead">Capsule Collections</h2>
                <div id = "para">
                    <p>If there’s an occasion to express your personal style, we’ve got a capsule</p><span>
                        <p>collection to match. Shopping for a specific mood, event or style story has never</p><span>
                            <p>been easier.</p>
                        </span>
                    </span>
                </div>
                
               
            </div>
            <div id = "own2">
                <h2 id ="mainhead">The Indie Experience</h2>
                <div id = "para">
                    <p>Our Indie styles are literally art you can wear. They are carefully handpicked, so</p><span>
                        <p>that only the most authentic, handcrafted pieces by artisans across the country</p><span>
                            <p>and globe make the cut.</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div id ="own">
            <div id = "own1">
                <h2 id ="mainhead">AJIO Style Tribe</h2>
                <div id = "para">
                    <p>A high-fashion editorial where we feature the internet’s coolest cats. It’s where</p><span>
                        <p>you get to read the stories of these influencers and shop their stunning shoot</p><span>
                            <p>looks.</p>
                        </span>
                    </span>
                </div>
                
               
            </div>
            <div id = "own2">
                <h2 id ="mainhead">#AJIOtoday</h2>
                <div id = "para">
                    <p>Our daily trend spotlight that lets you in on what’s hip and happening, and what</p><span>
                        <p>you should be carting right now. Like they say, a trend each day keeps the blues</p><span>
                            <p>away!</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div id ="own">
            <div id = "own1">
                <h2 id ="mainhead">#AJIOrecommends</h2>
                <div id = "para">
                    <p>From the hailstorm of trends coming down on us every season, we only</p><span>
                        <p>recommend the ones guaranteed to put you on the hit list. Watch out for these</p><span>
                            <p>regular highlights.</p>
                        </span>
                    </span>
                </div>
                
               
            </div>
            <div id = "own2">
                <h2 id ="mainhead">#recommendsAJIO</h2>
                <div id = "para">
                    <p>This is where we celebrate and showcase our most stylish customers, who’ve</p><span>
                        <p>given us a shout-out on social while dressed in a trendy AJIO style. You could</p><span>
                            <p>very well be on the list too.</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id = "logo">
        <div id = "inlogo">
            <div id = "img2">
                <img src= "https://www.petshub.pk/wp-content/uploads/2019/08/Delivery-service-pets-hub-pk.png"/>
                
            </div>
            <h3>30 DAYS RETURN POLICY*</h3>
        </div>
       
        <div id = "inlogo">
            <div id ="imgh2">
                <img src= "https://mangowala.in/pages/images/icon-1.png"/>
            </div>
            <h3>100% HANDPICKED</h3>
        </div>
        
        <div id = "inlogo">
            <div id = "imga2">
                <img src="https://th.bing.com/th/id/R.e9c54462dfb19689c7d81045f6dcb7fc?rik=xGq8adkvAbnRwA&riu=http%3a%2f%2fwww.inproplast.mx%2fimg%2fICONO_calidad.png&ehk=xySPP9H3MhuytvEV%2bip%2fij0gZxh25nLaeeUKIe9IcUI%3d&risl=&pid=ImgRaw&r=0" alt="">
            </div>
            <h3>ASSURED QUALITY</h3>
        </div>
        
    </div>
    <footer></footer>
</body>
<script type = "module" src = "../navbar.js">

</script>
</html>
